@using DevExpress.ExpressApp
@using DevExpress.ExpressApp.Blazor
@using DevExpress.ExpressApp.Blazor.Components
@using DevExpress.ExpressApp.Blazor.Templates
@using Microsoft.JSInterop

@inherits FrameTemplateComponentBase<CustomWindowTemplate>

<div class="app h-100 d-flex flex-column">
    <div class="d-flex flex-row shadow-sm flex-nowrap">
        <ComponentModelObserver ComponentModel="FrameTemplate.NavigateBackActionControl.ButtonModel">
            <div class="header-left-side d-flex align-items-center pl-2">
                <button onclick="xaf.toggleSideBar()" class="btn-hamburger p-0 btn btn-secondary btn-header">
                    <XafImage ImageName="Hamburger" Size="24" Styles="margin:auto;" />
                </button>
                <div class="header-logo mx-3"></div>
            </div>
        </ComponentModelObserver>
        <div class="header-right-side w-100 overflow-hidden d-flex align-items-center pl-4">
            @if (FrameTemplate.View is DetailView)
            {
                <ComponentContentRenderer ComponentContentHolder="FrameTemplate.NavigateBackActionControl"></ComponentContentRenderer>
            }
            <ViewCaptionComponent WindowCaption="@(FrameTemplate)" />
            @FrameTemplate.AccountComponent.GetComponentContent()
            @if (FrameTemplate.View.ObjectTypeInfo.Type == typeof(XAFBlazorCustomWindowTemplate21._2._3.Module.BusinessObjects.Contact) && FrameTemplate.View is ListView)
            {
                <ButtonComponent />
            }
            <SettingsComponent />
        </div>
    </div>
    <div class="xaf-flex-auto overflow-hidden d-flex">
        <div class="sidebar d-none d-sm-flex flex-column">
            <div class="xaf-flex-auto overflow-auto">
                @FrameTemplate.ShowNavigationItemActionControl.GetComponentContent()
            </div>
            <div class="about-info text-muted mx-3 mb-4">
                @((MarkupString)FrameTemplate.AboutInfoString)
            </div>
        </div>
        <div class="sidebar-sm-shadow" onclick="xaf.toggleSideBar()"></div>
        <div class="main xaf-flex-auto overflow-hidden d-flex flex-column">
            <SizeModeContainer>
                @if (FrameTemplate.IsActionsToolbarVisible && @FrameTemplate.Toolbar.ContainsVisibleActionControl())
                {
                    <div class="main-toolbar py-3 px-2 px-sm-3">@FrameTemplate.Toolbar.GetComponentContent()</div>
                }
                <div class="main-content xaf-flex-auto overflow-auto pb-3 px-2 px-sm-3 d-flex flex-column">
                    <div class="xaf-flex-auto">
                        <ViewSiteComponent View="@FrameTemplate.View" />
                    </div>
                </div>
            </SizeModeContainer>
        </div>
    </div>
</div>



@code {
    public static RenderFragment Create(CustomWindowTemplate customWindowTemplate) =>
    @<CustomWindowTemplateComponent FrameTemplate="@customWindowTemplate" />;
}
